html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

button {
	text-transform: uppercase;
	border: 1px solid #ccc;
	border-radius: 15px;
	background: #ccc;
	color: #fff;
	margin: 10px 25px;
	padding: 10px 25px;
	cursor: pointer;
}

button:hover {
	background: #333;
}

.red-heart, .error {
	color: #f00;
}

.black-heart {
	color: #ccc;
	cursor: pointer;	
}

ul {
  list-style-type: none;
	max-height: 300px;
	overflow: auto;	
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

li:nth-child(odd) {
	background: #fff4f4;
}

li:hover {
	background: #fcf0f0;
}

li > p {
	width: 75%;
}

.remove {
	cursor: pointer;
	color: #ccc;
}

.remove:hover {
	color: #f00;
}